<!doctype html>
<html lang="en-US">
   <head>
      {% include "/partials_layout/css.html.twig" %}
      {{ encore_entry_link_tags('app') }}

    <title>MovieCatalog{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

   </head>
    <body>
        {% include "/partials_layout/hearder.base.html.twig" %}

        <!--Start Main app-->
        {% block body %}{% endblock %}
        <!--End Main app-->
        

        {% include "/partials_layout/footer.base.html.twig" %}

        <!--Start custom js-->
        {% block javascripts %}{% endblock %}
        <!--Start custom js-->

        {% include "/partials_layout/js.html.twig" %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
