{% extends "base.html.twig" %}

{% block title %}profil utilisateur x...{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <!-- MainContent -->
   <h1>Mes abonnements</h1>
{% endblock %}