{% extends 'error.html.twig' %}

{% block title %}500{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <span class="display-1 d-block">500</span>
    <br>
    <img src="{{ asset('/assets/movie_catalog_front_office/images/logo.png') }}" alt="page d'erreur">
    <br>
    <div class="mb-4 lead">Erreur interne</div>
    <a href="{{ path('home') }}" class="btn btn-secondary" role="button">Revenir au site</a>
{% endblock %}

